* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #202020;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
}

section {
    max-width: 800px;
    width: 100%;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    background-color: #e0e0e0;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s, opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-weight: bold;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

/* Kiválasztott elem! */
ul li.selected {
    background-color: rgba(246, 255, 0);
    color: #000;
    border: 2px solid black;
}

/* Csere osztály! */
ul li.swap {
    text-shadow: none;
    color: rgba(246, 255, 0, 0.4);
    animation: swap 0.5s forwards;
}

/* Filmek cseréjének animációja */
@keyframes swap {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    ul li {
        font-size: 0.9rem;
        padding: 10px;
    }
}
